.center.jumbotron
  %h1 Welcome to the Rails App
  = link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/"
  %h2
    This is the home page for the Rails app created by
    %a{:href => "https://github.com/Andrii-Kozak"} Andrii Kozak.
