- if @group.users.include?(current_user)
  = link_to 'unfollow', unfollow_group_path, class: 'btn btn-user', method: :delete, remote: true
- else
  = link_to 'follow', follow_group_path, class: 'btn btn-user', method: :post, remote: true
