- if @group.user_groups.where(user_id: current_user.id).present?
  = link_to 'unfollow', unfollow_group_path, class: 'btn btn-user'
- else
  = link_to 'follow', follow_group_path, class: 'btn btn-user'
