- if @group.users.exists?(id: current_user.id)
  = link_to 'unfollow', unfollow_group_path, id: 'follow', class: 'btn btn-user', method: :delete, remote: true
- else
  = link_to 'follow', follow_group_path, id: 'follow', class: 'btn btn-user', method: :post, remote: true
