.information {
  text-align: center;
  padding: 5%;
}

.profile p {
  width: 91%;
  margin: 0 auto;
  color: #615555;
}

.item {
  padding: 20px 160px;
  height: 250px;
  display: inline-block;
  transition: 0.6s;
}

.item img {
  padding-top: 40px;
  width: 128px;
}

.btn {
  background-color: #112d4e;
  border-radius: 8px;
  color: #f9f7f7;
  font-weight: normal;
  padding: 10px;
  display: block;
  margin: auto 0;
  width: 100px;
  padding: 5px;
}

.btn:hover {
  background-color: #3f72af;
  color: #f9f7f7;
}

.about-text {
  font-size: 2rem;
  color: #b63a16;
}
