/* universal */
body {
  padding: 60px 0 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
.navbar-inverse {
  box-shadow: 0 0 10px -3px #ce431a;
}

#logo {
  float: left;
  padding-top: 10px;

  img {
    width: 100px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.nav.navbar-right.list-inline > li > a {
  color: #ce431a;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.list-inline-item {
  margin: 0 10px 0 20px;
}
/* footer */
footer {
  margin-top: 45px;
  box-shadow: 0 0 10px -3px #ce431a;
  width: 100%;
  line-height: 40px;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
}

.link-text,
footer a {
  color: #ce431a;
  margin-left: 10px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.text-footer {
  color: #fff;
}

.index-logo {
  margin-left: 20px;
  width: 200px;
  padding-bottom: 20px;
}

.jumbotron {
  margin: 20px 0;
  background-color: #adb5bdc9;
}

.jumbotron2 {
  padding: 2rem 1rem;
}

.registration {
  margin-top: 20px;
  justify-content: center;
  border-radius: 10px;
}

.card-footer a,
.link-footer a {
  color: rgba(0, 123, 255, 0.81);

  &:hover {
    color: #ce431a;
    text-decoration: none;
  }
}
/* pagination */
.pagination-centered {
  padding-top: 35px;
  justify-content: center;
}

.page-item.active .page-link {
  z-index: 1;
  color: #ce431a;
  background-color: #343a405e;
  border-color: #f8b1b1;
}

.page-link {
  color: #000000;

  &:hover {
    z-index: 2;
    color: #ce431a;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
}
