.creator {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  color: #777;
}

.card-header-post {
  padding: 0 30px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body-post {
  padding: 0.25rem;
}
