@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;
/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
.navbar-inverse {
  background-color: #4c4c4d99;
  box-shadow: 0 0 10px -3px #ce431a;
  border-color: #a2a2a299;
}

#logo {
  float: left;
  padding-top: 10px;

  img {
    width: 100px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #ce431a;

  &:hover {
    color: #fff;
  }
}

/* footer */
footer {
  margin-top: 45px;
  box-shadow: 0 0 10px -3px #ce431a;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 40px;
  background-color: #b4b4b4;
}

footer a {
  color: #555;

  &:hover {
    color: #222;
  }
}

.index-logo {
  width: 200px;
  padding-bottom: 20px;
}
