%footer
  .container
    %nav
      %ul.nav
        %li.list-inline-item
          %span This is the test app created by
          %a{:href => "https://www.linkedin.com/in/andrii-kozak-00967a175/"} Andrii Kozak.
        %li.list-inline-item.last-footer
          = link_to "About", '#'
